body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif !important;
    background-image: url(img/zauber.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: inherit;
}

.headline {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px !important;
    margin: 50px !important;
    background-color: rgb(238, 228, 209);
    font-weight: 700 !important;
    border-radius: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 45rem;
    border: 1px solid rgb(238, 228, 209) !important;
    border-radius: 5px !important;
}

.answer-box:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.question-footer {
    border-top: 1px solid rgb(238, 228, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.bg-success,
.bg-danger {
    color: white !important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

.restart-game {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

@media(max-width: 800px) {
    .quiz-card {
        width: 40rem;
    }
}

@media(max-width: 640px) {
    .quiz-card {
        width: 35rem;
    }
    h1 {
        font-size: 26px !important;
    }
}

@media(max-width: 590px) {
    .quiz-card {
        width: 30rem;
    }
}

@media(max-width: 500px) {
    .quiz-card {
        width: 25rem;
    }
    h1 {
        font-size: 20px !important;
    }
}

@media(max-width: 400px) {
    .quiz-card {
        width: 20rem;
    }
    h1 {
        font-size: 16px !important;
    }
}